@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}



/* CSS for the navigation bar */

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
    .dropdown-menu li {
        position: relative;
    }

    .nav-item .submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -7px;
    }

    .nav-item .submenu-left {
        right: 100%;
        left: auto;
    }

    .dropdown-menu>li:hover {
        background-color: #f1f1f1
    }

    .dropdown-menu>li:hover>.submenu {
        display: block;
    }
}

/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
    .dropdown-menu .dropdown-menu {
        margin-left: 0.7rem;
        margin-right: 0.7rem;
        margin-bottom: .5rem;
        z-index: 1;
    }
}

/* ============ small devices .end// ============ */

.owl-carousel {
    /* position: absolute; */
    /* z-index: -1; */
    margin-bottom: 3rem;
}



.item {
    height: 100vh;
}

/* .item img {
    height: 100vh;
} */

.content {
    position: absolute;
    top: 300px;
    z-index: 1;
    color: #fff;
    padding-left: 2rem;
}

.content h1 {
    background-color: black;
    width: 300px;
    /* padding: 1rem;
    margin-bottom: 1rem; */
}

.content p {
    background-color: rgba(10, 10, 10, 0.671);
    color: #fff;
    font-weight: 100;
    padding: 1rem;
}

@media only screen and (max-width: 768px) {
    .content {
        top: 80px;
    }

    .carousel-img {
        height: 70vh;
    }
}

.overview {

    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
        url(../images/carousel1.jpg);
    background-position: center;
    background-size: cover;
    /* position: relative; */
    color: #fff;
    text-align: center;
    padding: 1rem;
}



.overview div {
    padding: 1.5rem;
}

.main-mission {
    display: flex;
    padding: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    justify-content: space-between;
    align-items: center;
}

.mission {
    width: 30%;

    padding: .5rem;
    border: 1px solid black;
    border-radius: 2px;
    background-color: white;
    text-align: center;

    border: 1px solid gray;
    border-radius: 2px;
    box-shadow: 2px 5px 10px grey;
    transition: .5s;
}

.mission:hover {
    transform: scale(2.05s);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 1);
}

@media only screen and (max-width: 760px) {
    .main-mission {
        display: flex;
        padding: .5rem;
        flex-direction: column;
    }

    .mission {
        width: 100%;
        margin: 1rem;
        padding: 1rem;

    }
}




/* CSS for Our Programs */



.program {
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
        url(../images/carousel1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.container-program {

    display: grid;
    padding: 1rem;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 12px;
    column-gap: 12px;
}

.program-item {
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 2px 5px 10px gray;
    padding: 1rem;
    color: #fff;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.read-more {
    display: none;
}

.read-more-1 {
    display: none;
}

.read-more-2 {
    display: none;
}

.read-more-3 {
    display: none;
}

.read-more-4 {
    display: none;
}

.text.show-more .read-more {
    display: inline;
}

.text-1.show-more .read-more-1 {
    display: inline;
}

.text-2.show-more .read-more-2 {
    display: inline;
}

.text-3.show-more .read-more-3 {
    display: inline;
}

.text-4.show-more .read-more-4 {
    display: inline;
}

.program-item h3 {
    color: rgb(20, 225, 40);

}

.program-item:hover {
    transform: scale(2.05s);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 1);
}


.program-img {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
}

.text-p {
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    font-size: 13px;

}

.read-more-btn {
    padding: .5rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(20, 225, 40);
    color: black;
    font-weight: 700;
}

.read-more-btn-1 {
    padding: .5rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(20, 225, 40);
    color: black;
    font-weight: 700;
}

.read-more-btn-2 {
    padding: .5rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(20, 225, 40);
    color: black;
    font-weight: 700;
}


.read-more-btn-3 {
    padding: .5rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(20, 225, 40);
    color: black;
    font-weight: 700;
}


.read-more-btn-4 {
    padding: .5rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(20, 225, 40);
    color: black;
    font-weight: 700;
}




@media only screen and (max-width: 760px) {
    .container-program {
        display: flex;
        flex-direction: column;
    }
}


/* CSS for achievments */

.achievments {
    margin-top: 5rem;
    padding: 5rem;
    border: 1px solid grey;
    display: flex;
    margin-bottom: 5rem;

}

/* .container {
    display: flex;
} */

.emphasis {
    margin-top: 3rem;
    padding-top: 3rem;
}

.achive-content {
    list-style: georgian;
    flex: 1;
    font-family: 'Roboto', sans-serif;
    padding-left: 1rem;
}

.achive-content h1 {
    color: #080f5b;
    text-align: center;
    padding-top: 2rem;
    font-weight: 800;
    letter-spacing: .1em;
    font-size: 40px;
}

.achive-content ul {
    margin-left: 1rem;
    list-style: decimal;
    font-size: 1.2rem;
    right: 0;
    padding: .5rem;
}



@media only screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .achive-img-2 {
        display: none;
    }

    .emphasis {
        margin-top: 1rem;
        padding-top: 1rem;
    }

    .achive-content h1 {
        font-size: 2rem;
        padding-left: 0;
    }
}


/* Our Partners CSS */

.partners-heading {
    text-align: center;
    padding: 3rem 0 3rem 0;
    /* position: relative; */
}

.partners-heading h1 {
    font-weight: 600;
    font-size: 4rem;
    position: absolute;

    align-items: center;
    justify-content: center;
    transform: translate(135%, -100%);
    text-align: center;
}



.partners-heading h1:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px green;
}

.partners-heading h1:nth-child(2) {
    color: green;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {

    0%,
    100% {
        clip-path: polygon(0% 45%,
                16% 44%,
                33% 50%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%);
    }

    50% {
        clip-path: polygon(0% 60%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%);
    }
}

.partners-heading p {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
}

.partners-heading p span {
    color: green;
}

.owl-one .item-one {
    height: 45vh;
    border: 1px solid green;
    background-color: transparent;
    position: relative;
    padding: 2rem;
}

@media only screen and (max-width: 768px) {
    .partners-heading h1 {
        font-weight: 600;
        font-size: 2rem;

        transform: translate(45%, -80%);
        text-align: center;
    }

    .owl-one .item-one {
        height: 50vh;
        margin: 2rem;
        padding: 1rem;
    }
}



/* footer section */

.footer {

    background-color: #e6e6e6;
    padding-top: 2rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 120px;
}

.footer-content {
    margin-top: 2rem;
    margin-bottom: .5rem;
}

.address {
    padding: 2rem;
    /* text-decoration: none; */
}

.address-flex {
    display: flex;
    justify-content: space-between;
}

.address div a {
    text-decoration: none;
    padding: .5rem;
    color: gray;
}

.fa-envelope {
    color: rgb(132, 15, 15);
    padding-right: 1rem;
}

.fa-location-dot {
    color: rgb(15, 132, 33);
    padding-right: 1rem;
}

.fa-lock {
    color: rgb(15, 40, 132);
    padding-right: 1rem;
}





.social-media a i {
    font-size: 1rem;
}



.social-media-icons a {
    font-size: 2rem;
    /* padding: 1rem; */
    color: gray;
}




.fa-facebook {
    color: blue;
    padding-right: 1.2rem;
}



.fa-instagram-square {
    color: rgb(216, 30, 92);
    padding-right: 1.2rem;
}

.fa-youtube {
    color: red;
    padding-right: 1.2rem;
}


.fa-twitter {
    color: rgb(0, 204, 255);
    padding-right: 1.2rem;
}

@media only screen and (max-width: 768px) {
    .footer {
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }
}

.copyright {
    background-color: #e6e6e6;
    margin-top: 2px;
    height: 10vh;
}

.copyright p {
    text-align: center;
    line-height: 10vh;
    font-weight: 300;
}


/* Inspirationl */


.inspirational {
    width: 100%;
    height: 45vh;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
        url(../images/carousel1.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.inspirational p {
    font-weight: 700;
    text-align: center;
    padding-top: 5rem;
    font-size: 2.5rem;
    font-family: Hack, sans-serif;
    text-transform: uppercase;
    background: linear-gradient(90deg, #07b135, #fff, #07b135);
    letter-spacing: 5px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: no-repeat;
    background-size: 80%;
    animation: shine 5s linear infinite;
    position: relative;
}

@keyframes shine {
    0% {
        background-position-x: -500%;
    }

    100% {
        background-position-x: 500%;
    }
}

@media only screen and (max-width:768px) {
    .inspirational {

        height: 65vh;

    }

    .inspirational p {
        font-weight: 700;
        text-align: center;
        padding-top: 5rem;
        font-size: 2rem;

    }

}