<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/capacity.css">
    <title>Capacity Building</title>
</head>

<body>
    <div>
        <section class="capacity-building">
            <div class="capacity-main">
                <div class="capacity-heading">
                    <h1>Capacity Building of <span>NGO/CBO/SHG/PRI</span></h1>
                </div>

            </div>

            <div class="section-1">
                Focusing on human resource development, SDF is building capacities of staff and beneficiaries
                through training oriented comprehensive program. SDF is very much aware of developing the
                knowledge, attitude and practice of its community members through capacity building on the
                basis of proper management of financial records as well as selecting and implementing IGAs on
                the basis of COM guidelines. As a consequence, the community people have become able to
                manage their groups, select borrowers, manage savings, and select viable IGA.
            </div>

            <div class="section-2">

                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="../images/img1.webp" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../images/img1.webp" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../images/images.png" class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>
                <div class="txt">
                    SDF Trust with the support of Matrix Society established Skill Training Centre at Pipra village,
                    Lalganj, Hallia, Mirzapur, Uttar Pradesh. SDF team members are engaged in session plan
                    development,student registration, community meetings. The centre has well ventilated specious 5
                    classrooms, one manager room, one staff room, one placement cell room, two washroom for
                    participants, waiting space along with reception. The main purpose behind all these arrangement is
                    to make participants feel that they are attending some professional course which will boost their
                    will power.
                    Capacity Building of Trainers: Organized 2 days residential training of Trainers (TOT) for the newly
                    recruited trainers. Training was attended by all four trade trainers, centre manager, Placement
                    Officer. Basically the training was followed by the NCDS skill training Facilitators Module.

                    All the trainers were trained on the basics of facilitation skill, methods of training module
                    delivery, session plan and candidates assessment procedure by developing all at the training.

                    Community Mobilisation Process / Enrolment of Candidates: Door to door visit to identify eligible
                    candidates, besides that team will distribute pamphlets at community level and will organize
                    community meetings to inform about the importance of skill training and the scope which will make
                    them convinced and aware them to join skill training. After receiving training all the project
                    staffs were engaged in student registration process. Till today we have registered 403 candidates.
                    Team members are also engaged in online class of candidates till the full time functionalisation of
                    centres due to COVID-19.


                </div>
            </div>

            <div class="section-2">
                <h2>SHG FORMATION AND MANAGEMENT:
                </h2>
                <p>There is a vast difference between idealized concept of women and real-life situation in which women
                    find them in very difficult situation. Despite making up nearly half of the world’s population,
                    women are forced to lead a life of subjugation and suppression. Concentrated efforts are required to
                    improve the situation, which is possible by gaining authority and control over the resources that
                    shape one’s life. It needs to adopt a process, which aims at realization of individual potentiality
                    and ensures equality with men. And such a process was named as Women Empowerment.
                    Empowerment is a process by which individuals; groups and communities become able to take control of
                    their circumstances and achieve their goals, thereby being able to work towards maximizing the
                    quality of their lives. Employment provides income and thereby leads to economic independence and
                    decision-making power of women. Employment of women in organized and unorganized sectors has drawn
                    large number of women out of family and household to make their contribution to the economy visible.
                    The majorities of women in developing countries are playing a pre-dominated role in agriculture and
                    allied activities. More than 65 per cent women in these countries are engaged in agriculture and
                    16-17 per cent in industry and service. Women in the rural areas are mostly self-employed, whereas a
                    greater number of urban women are employed in regular salaries.

                    Economic empowerment provides the women with the right to determine choices, the power to control
                    their own lives within and outside home and their ability to influence the direction of social
                    change and to create a just, social and economic order nationally and internationally.

                    Economically empowered women contributed to the wealth and well being, not only of their families,
                    but also of their nations. Women should be empowered through an increasing control of economic
                    resources, especially income, and through education. If employment is aimed at empowering women,
                    employment program must satisfy at least three conditions: they must reduce women’s total work
                    burden; they must ensure that women have access to, as well as have control over income; and they
                    need to increase women’s access to non-kin support, information and outside contacts. Woman’s status
                    is influenced by the social economic power and prestige that comes with a particular role in her
                    life cycle. Policies and program, which aim at empowering women in decision-making, need to consider
                    these complex power relations that structure woman’s lives.

                    SDF Trust is implementing skill training programme for SHG women of Bawana, North Delhi with the
                    support of Matrix Society, under this project SDF supported 275 women members of 25 SHGs over a
                    period of Twelve months.
                </p>
            </div>
        </section>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>