@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.health-heading {

    min-height: 40vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.3)),
        url(../images/health3.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

.health-heading h1 {
    text-align: center;
    color: rgb(76, 245, 19);
    justify-content: center;
    align-items: center;
    padding-top: 25vh;
    font-size: 3rem;
}


.health-heading h1 span {
    color: crimson;
    font-weight: 800;
}


.container {
    display: flex;
}

.health-content {
    flex: 1;
    padding: 2rem;
}

.health-content-text {
    font-size: 1.2rem;
    text-align: justify;
}

.text-1 span {
    color: blue;
    font-weight: 700;

}

.text-3 span {
    color: blue;
    font-weight: 700;
}

.content-1 {
    padding: 2rem;
    font-size: 1rem;
}

.content-1 h1 {
    text-align: center;
    padding: .5rem;
    color: blue;
}

.content-1 h3 {
    font-size: 2rem;
}

@media only screen and (max-width: 760px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .health-img-2 {
        display: none;
    }
}