@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:wght@100;200;300;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.skill-heading {
    background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.3)),
        url(../images/skill1.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.skill-heading h1 {
    text-align: center;
    color: rgb(76, 245, 19);
    justify-content: center;
    align-items: center;
    padding-top: 25vh;
    font-size: 3rem;
}

.container {
    display: flex;
}

.skill-content {
    flex: 1;
    padding: 2rem;
}

.skill-content-txt {
    font-size: 1.2rem;
    text-align: justify;
}

.content-1 {
    padding: 2rem;
    font-size: 1rem;
}

@media only screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
    }
}