<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../../../css/about.css">
    <title>About Us</title>
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand text-success" href="../templates/index.html"><img
                        src="../../../images/logo_sdf-removebg-preview.png" alt="" width="160px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="main_nav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item active"> <a class="nav-link" href="../../../templates/index.html">Home </a>
                        </li>


                        <li class="nav-item dropdown" id="myDropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">About Us</a>
                            <ul class="dropdown-menu">
                                <li> <a class="dropdown-item" href="../templates/Aboutus/OurPartners/about.html"> Who We
                                        Are </a></li>
                                <li><a href="../templates/Aboutus/WhatWeDo/intervention.html" class="dropdown-item">Our
                                        Intervention Strategy</a></li>
                                <li> <a class="dropdown-item" href="../templates/Aboutus/OurTeam/team.html"> Our Team
                                        &raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="../templates/Aboutus/OurTeam/advisory.html">Advisory
                                                Board</a></li>
                                        <li><a class="dropdown-item"
                                                href="../templates/Aboutus/OurTeam/programteam.html">Program
                                                Team</a></li>

                                        <li><a class="dropdown-item"
                                                href="../templates/Aboutus/OurTeam/boardm.html">Board Members</a>
                                        </li>

                                    </ul>
                                </li>

                                <li> <a class="dropdown-item" href="../templates/Aboutus/OurPartners/partners.html"> Our
                                        Partners &raquo;
                                    </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="../templates/Aboutus/OurPartners/gpartners.html">Government
                                                Partners</a></li>
                                        <li><a class="dropdown-item"
                                                href="../templates/Aboutus/OurPartners/csrpartners.html">CSR
                                                Partners</a></li>

                                        <li><a class="dropdown-item"
                                                href="../templates/Aboutus/OurPartners/financialpartners.html">Financial
                                                Institutions/
                                                Associations</a>
                                        </li>

                                    </ul>
                                </li>


                            </ul>
                        </li>

                        <li class="nav-item dropdown" id="myDropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Our Program</a>
                            <ul class="dropdown-menu">

                                <li> <a class="dropdown-item" href="../templates/programs/Health/health.html">Health
                                        &raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/Health/health.html">RCH</a></li>
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/Health/health.html">ARSH</a></li>
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/Health/health.html">MALERIA</a></li>
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/Health/health.html">Chronical Disease</a>
                                        </li>
                                    </ul>
                                </li>
                                <li> <a class="dropdown-item"
                                        href="../templates/programs/Livelihood/livelihood.html">Livelihood &raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/Livelihood/igp.html">IGP</a></li>
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/Livelihood/skill.html">Skill Training</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/Livelihood/medp.html">MEDP</a></li>
                                    </ul>
                                </li>
                                <li><a class="dropdown-item" href="../templates/programs/child.html">Child</a></li>
                                <li> <a class="dropdown-item"
                                        href="../templates/programs/education.html">Education&raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/education.html">Education for out of School
                                                Children</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/education.html">Educational Infrastructure
                                                Development</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/education.html">Financial Support for Higher
                                                Studies</a>
                                        </li>
                                    </ul>
                                </li>
                                <li> <a class="dropdown-item"
                                        href="../templates/programs/handicraft.html">Handicraft&raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/handicraft.html">Artirals Training</a></li>
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/handicraft.html">Exhibition</a></li>
                                        <li><a class="dropdown-item" href="../templates/programs/handicraft.html">Market
                                            </a></li>
                                    </ul>
                                </li>
                                <li> <a class="dropdown-item" href="../templates/programs/agriculture.html">Agriculture
                                        &raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/agriculture.html">FPO</a></li>
                                        <li><a class="dropdown-item" href="../templates/programs/agriculture.html">Seed
                                                Chunks</a></li>
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/agriculture.html">Farmers Training</a></li>
                                        <li><a class="dropdown-item" href="../templates/programs/agriculture.html">New
                                                Technology</a></li>
                                    </ul>
                                </li>
                                <li> <a class="dropdown-item" href="../templates/programs/women.html">Woment Empowerment
                                        &raquo;
                                    </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item" href="../templates/programs/women.html">SHG</a>
                                        </li>
                                        <li><a class="dropdown-item" href="../templates/programs/women.html">Gender</a>
                                        </li>
                                    </ul>
                                </li>
                                <li> <a class="dropdown-item" href="../templates/programs/cbo.html">CBOs&raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item" href="../templates/programs/cbo.html">PRIS</a></li>
                                        <li><a class="dropdown-item" href="../templates/programs/cbo.html">FPO</a></li>
                                        <li><a class="dropdown-item" href="../templates/programs/cbo.html">SHG
                                                Federation </a></li>
                                    </ul>
                                </li>
                                <li><a class="dropdown-item" href="../templates/programs/digital.html"> Digital &
                                        Financial Literacy </a></li>
                                <li><a class="dropdown-item" href="../templates/programs/art.html"> Art & Culture </a>
                                </li>
                                <li><a href="../templates/programs/disaster.html" class="dropdown-item">Disaster
                                        Management</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown" id="myDropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Resources &
                                Publications</a>
                            <ul class="dropdown-menu">

                                <li> <a class="dropdown-item"
                                        href="../templates/Resources&Publications/Profile/profile.html"> Profile &raquo;
                                    </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="../templates/Resources&Publications/Profile/profile.html">Annual
                                                Report
                                            </a></li>
                                        <li><a class="dropdown-item"
                                                href="../templates/Resources&Publications/Profile/profile.html">Annual
                                                Audit
                                                Report</a></li>

                                        <li><a class="dropdown-item"
                                                href="../templates/Resources&Publications/Profile/profile.html">ITR</a>
                                        </li>

                                    </ul>
                                </li>

                                <li> <a class="dropdown-item"
                                        href="../templates/Resources&Publications/LegalDocuments/legal.html"> Legal
                                        Documents &raquo;
                                    </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="../templates/Resources&Publications/LegalDocuments/legal.html">Trust
                                                Deed</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                                href="../templates/Resources&Publications/LegalDocuments/legal.html">PAN</a>
                                        </li>
                                        <li><a href="../templates/Resources&Publications/LegalDocuments/legal.html"
                                                class="dropdown-item">TAN</a></li>
                                        <li><a href="../templates/Resources&Publications/LegalDocuments/legal.html"
                                                class="dropdown-item">CSR</a></li>
                                        <li><a href="../templates/Resources&Publications/LegalDocuments/legal.html"
                                                class="dropdown-item">NGO</a></li>
                                        <li><a href="../templates/Resources&Publications/LegalDocuments/legal.html"
                                                class="dropdown-item">ISO</a></li>
                                        <li><a href="../templates/Resources&Publications/LegalDocuments/legal.html"
                                                class="dropdown-item">MSME</a></li>
                                        <li><a href="../templates/Resources&Publications/LegalDocuments/legal.html"
                                                class="dropdown-item">DC Handicraft</a></li>
                                        <li><a href="../templates/Resources&Publications/LegalDocuments/legal.html"
                                                class="dropdown-item">12AA</a></li>
                                        <li><a href="../templates/Resources&Publications/LegalDocuments/legal.html"
                                                class="dropdown-item">80G</a></li>
                                        <li><a href="../templates/Resources&Publications/LegalDocuments/legal.html"
                                                class="dropdown-item">Banking Details</a></li>

                                    </ul>
                                </li>



                            </ul>
                        </li>
                        <li class="nav-item active"> <a class="nav-link" href="../templates/media.html">Media</a> </li>
                        <li class="nav-item active"> <a class="nav-link" href="../../contact.html">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <!-- navbar-collapse.// -->
            </div>
            <!-- container-fluid.// -->
        </nav>

    </header>
    <div>
        <section class="about-us">
            <div class="about-heading">
                <h1>Who Are <span>We</span></h1>
            </div>
            <div class="content">
                <p class="text-1">
                    <span>Sustainable Development Foundation </span> is a 'not-for-profit' and autonomous organization,
                    established in 2014 by the group of professional social workers, the Sustainable Development
                    Foundation (SDF) has grown to become one of the
                    most successful organizations of India in poverty alleviation. SDF reinforces multidimensional
                    programs that impact all aspects of the lives of the disadvantaged people, focusing on building
                    sustainable village institutions and empowerment of women. It was registered under the Indian
                    Trust Registration <span>1882 on Sep 16, 2014</span> .
                </p>

                <p class="text-2">
                    Since its inception, <span>SDF</span> has been making every effort with need based approaches and
                    professionalism to expand the capabilities of the extreme poor and poor to enhance their
                    economic ability, to live healthy lives, facilitate them to nurture their talents and interests, and
                    above all to afford them an opportunity to live in dignity and with self-respect exercising their
                    rights properly in the society The basic approaches of SDF strengthen the rural communities by
                    building perpetual community based institutions, help raising awareness of the poor, and
                    creating a platform for the disadvantaged to encounter the challenges they face. Our efforts
                    touched the lives of an estimated 1 million people directly and indirectly. We have also made
                    momentous accomplishments in establishing linkages of the poorer section of the society with
                    GO/NGO service providers to leverage their resources, involving the unemployed youths in the
                    development process; and institutionalizing effective learning through participatory process.
                </p>

                <p class="text-3">
                    With the cherished goals, SDF has been implementing the <span>Development Program Project
                        (SDPP)</span> expanding the scope for the pro-poor for their economic growth through enhancing
                    their
                    income and creating employment opportunities executing<span> Community Driven Development
                        (CDD)</span> approach. It is exploring new ways of delivering critical infrastructure services
                    and social
                    assistance to the rural poor, and building their capacity at village level.
                </p>

                <p class="text-4">
                    <span>THRUST AREAS:</span>Sustainable Development Foundation engaged in various Health related
                    project e.g. HIV/AIDS, reproductive & Child health and others, Community development – “Enhance
                    sustainable livelihood for the marginalized”, Education- project for the school dropout & out of
                    school children- “All children will learn, grow and developed to realize their full potential” and
                    Capacity building of the social sector NGOs, federations and SHGs are its four main thrust area.
                    <span>SDF</span> has the unique distinction of having several thrust areas with different
                    approaches, which work not in isolation but in tandem to maximize program results within minimum
                    resources.
                </p>
                <div class="abt-img">
                    <img src="../../../images/training1.png" alt="" width="100%">
                </div>
                <p class="text-5">
                    <span>Focused Area: </span> SDF areas of expertise, especially with reference to developmental
                    issues of rural areas are as follows:
                </p>
                <ul>
                    <li>Health(RCH, ARSH, Maleria, Chronical Diseases)</li>
                    <li>Livelihood (IGP, Skill Training, MEDP)</li>
                    <li>Child (Focusing on the development of the child)</li>
                    <li>Education (for the out of scholl childeren, educational infrastruer dvelopement, financial
                        support for the Higher Studies)</li>
                    <li>Handicraft(Arterial Training, Exhibition, Marketing)</li>
                    <li>Agriculture(FPO, Seed Chunks, Farmers Training, New Technology)</li>
                    <li>Women Empowerment (SHG, Gender)</li>
                    <li>CBOs(PRIS, FPO, SHG Federation)</li>
                    <li>Digital & Financial Literacy</li>
                    <li>Art & Culture</li>
                    <li>Disaster Management</li>

                </ul>

            </div>
        </section>

    </div>

    <!-- 
    Footer is starting from here -->
    <footer>
        <div class="footer">
            <div class="company">
                <div class="img-logo">
                    <img src="../images/logo_sdf-removebg-preview.png" alt="" width="50%">
                </div>
                <div class="footer-content">
                    <h5>SUSTAINABLE DEVELOPMENT FOUNDATION</h5>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, natus.</p>
                </div>
            </div>

            <div class="address">
                <h5>Get In Touch</h5>
                <p><a href="../templates/contact.html"><i class="fa-solid fa-envelope"></i>Send A Message</a></p>
                <p></p>
                <p><a href="#"><i class="fa-solid fa-location-dot"></i>Address</a></p>
                <p><a href="#"><i class="fa-solid fa-lock"></i>Privacy Policy</a></p>
            </div>

            <div class="social-media">
                <h5>Get Connect With Us
                </h5>
                <div class="social-media-icons">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://www.instagram.com/sdf.trust/"><i class="fa-brands fa-instagram-square"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                </div>

                <h4>SDF</h4>
                <p>Sustainable Development Foundation</p>
            </div>
        </div>

        <div class="copyright">
            <p> Copyright &copy; SDF Trust India </p>
        </div>
    </footer>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"
        integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="../../../js/index.js"></script>
</body>

</html>