<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../../css/partners.css">
    <title>Our Partners - SDF</title>
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand text-success" href="../templates/index.html"><img
                        src="../../../images/logo_sdf-removebg-preview.png" alt="" width="160px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="main_nav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item active"> <a class="nav-link" href="../../../templates/index.html">Home </a>
                        </li>


                        <li class="nav-item dropdown" id="myDropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">About Us</a>
                            <ul class="dropdown-menu">
                                <li> <a class="dropdown-item" href="../templates/Aboutus/OurPartners/about.html"> Who We
                                        Are </a></li>
                                <li><a href="../templates/Aboutus/WhatWeDo/intervention.html" class="dropdown-item">Our
                                        Intervention Strategy</a></li>
                                <li> <a class="dropdown-item" href="../templates/Aboutus/OurTeam/team.html"> Our Team
                                        &raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="../templates/Aboutus/OurTeam/advisory.html">Advisory
                                                Board</a></li>
                                        <li><a class="dropdown-item"
                                                href="../templates/Aboutus/OurTeam/programteam.html">Program
                                                Team</a></li>

                                        <li><a class="dropdown-item"
                                                href="../templates/Aboutus/OurTeam/boardm.html">Board Members</a>
                                        </li>

                                    </ul>
                                </li>

                                <li> <a class="dropdown-item" href="../templates/Aboutus/OurPartners/partners.html"> Our
                                        Partners &raquo;
                                    </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="../templates/Aboutus/OurPartners/gpartners.html">Government
                                                Partners</a></li>
                                        <li><a class="dropdown-item"
                                                href="../templates/Aboutus/OurPartners/csrpartners.html">CSR
                                                Partners</a></li>

                                        <li><a class="dropdown-item"
                                                href="../templates/Aboutus/OurPartners/financialpartners.html">Financial
                                                Institutions/
                                                Associations</a>
                                        </li>

                                    </ul>
                                </li>


                            </ul>
                        </li>

                        <li class="nav-item dropdown" id="myDropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Our Program</a>
                            <ul class="dropdown-menu">

                                <li> <a class="dropdown-item" href="../templates/programs/Health/health.html">Health
                                        &raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/Health/health.html">RCH</a></li>
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/Health/health.html">ARSH</a></li>
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/Health/health.html">MALERIA</a></li>
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/Health/health.html">Chronical Disease</a>
                                        </li>
                                    </ul>
                                </li>
                                <li> <a class="dropdown-item"
                                        href="../templates/programs/Livelihood/livelihood.html">Livelihood &raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/Livelihood/igp.html">IGP</a></li>
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/Livelihood/skill.html">Skill Training</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/Livelihood/medp.html">MEDP</a></li>
                                    </ul>
                                </li>
                                <li><a class="dropdown-item" href="../templates/programs/child.html">Child</a></li>
                                <li> <a class="dropdown-item"
                                        href="../templates/programs/education.html">Education&raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/education.html">Education for out of School
                                                Children</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/education.html">Educational Infrastructure
                                                Development</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/education.html">Financial Support for Higher
                                                Studies</a>
                                        </li>
                                    </ul>
                                </li>
                                <li> <a class="dropdown-item"
                                        href="../templates/programs/handicraft.html">Handicraft&raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/handicraft.html">Artirals Training</a></li>
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/handicraft.html">Exhibition</a></li>
                                        <li><a class="dropdown-item" href="../templates/programs/handicraft.html">Market
                                            </a></li>
                                    </ul>
                                </li>
                                <li> <a class="dropdown-item" href="../templates/programs/agriculture.html">Agriculture
                                        &raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/agriculture.html">FPO</a></li>
                                        <li><a class="dropdown-item" href="../templates/programs/agriculture.html">Seed
                                                Chunks</a></li>
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/agriculture.html">Farmers Training</a></li>
                                        <li><a class="dropdown-item" href="../templates/programs/agriculture.html">New
                                                Technology</a></li>
                                    </ul>
                                </li>
                                <li> <a class="dropdown-item" href="../templates/programs/women.html">Woment Empowerment
                                        &raquo;
                                    </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item" href="../templates/programs/women.html">SHG</a>
                                        </li>
                                        <li><a class="dropdown-item" href="../templates/programs/women.html">Gender</a>
                                        </li>
                                    </ul>
                                </li>
                                <li> <a class="dropdown-item" href="../templates/programs/cbo.html">CBOs&raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item" href="../templates/programs/cbo.html">PRIS</a></li>
                                        <li><a class="dropdown-item" href="../templates/programs/cbo.html">FPO</a></li>
                                        <li><a class="dropdown-item" href="../templates/programs/cbo.html">SHG
                                                Federation </a></li>
                                    </ul>
                                </li>
                                <li><a class="dropdown-item" href="../templates/programs/digital.html"> Digital &
                                        Financial Literacy </a></li>
                                <li><a class="dropdown-item" href="../templates/programs/art.html"> Art & Culture </a>
                                </li>
                                <li><a href="../templates/programs/disaster.html" class="dropdown-item">Disaster
                                        Management</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown" id="myDropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Resources &
                                Publications</a>
                            <ul class="dropdown-menu">

                                <li> <a class="dropdown-item"
                                        href="../templates/Resources&Publications/Profile/profile.html"> Profile &raquo;
                                    </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="../templates/Resources&Publications/Profile/profile.html">Annual
                                                Report
                                            </a></li>
                                        <li><a class="dropdown-item"
                                                href="../templates/Resources&Publications/Profile/profile.html">Annual
                                                Audit
                                                Report</a></li>

                                        <li><a class="dropdown-item"
                                                href="../templates/Resources&Publications/Profile/profile.html">ITR</a>
                                        </li>

                                    </ul>
                                </li>

                                <li> <a class="dropdown-item"
                                        href="../templates/Resources&Publications/LegalDocuments/legal.html"> Legal
                                        Documents &raquo;
                                    </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="../templates/Resources&Publications/LegalDocuments/legal.html">Trust
                                                Deed</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                                href="../templates/Resources&Publications/LegalDocuments/legal.html">PAN</a>
                                        </li>
                                        <li><a href="../templates/Resources&Publications/LegalDocuments/legal.html"
                                                class="dropdown-item">TAN</a></li>
                                        <li><a href="../templates/Resources&Publications/LegalDocuments/legal.html"
                                                class="dropdown-item">CSR</a></li>
                                        <li><a href="../templates/Resources&Publications/LegalDocuments/legal.html"
                                                class="dropdown-item">NGO</a></li>
                                        <li><a href="../templates/Resources&Publications/LegalDocuments/legal.html"
                                                class="dropdown-item">ISO</a></li>
                                        <li><a href="../templates/Resources&Publications/LegalDocuments/legal.html"
                                                class="dropdown-item">MSME</a></li>
                                        <li><a href="../templates/Resources&Publications/LegalDocuments/legal.html"
                                                class="dropdown-item">DC Handicraft</a></li>
                                        <li><a href="../templates/Resources&Publications/LegalDocuments/legal.html"
                                                class="dropdown-item">12AA</a></li>
                                        <li><a href="../templates/Resources&Publications/LegalDocuments/legal.html"
                                                class="dropdown-item">80G</a></li>
                                        <li><a href="../templates/Resources&Publications/LegalDocuments/legal.html"
                                                class="dropdown-item">Banking Details</a></li>

                                    </ul>
                                </li>



                            </ul>
                        </li>
                        <li class="nav-item active"> <a class="nav-link" href="../templates/media.html">Media</a> </li>
                        <li class="nav-item active"> <a class="nav-link" href="../../contact.html">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <!-- navbar-collapse.// -->
            </div>
            <!-- container-fluid.// -->
        </nav>

    </header>

    <div>
        <section class="partners">
            <div class="partners-heading">
                <h1>Our Partners</h1>
            </div>
            <div class="container">
                <div class="partners-img">
                    <img src="../../../images/delhi.png" alt="" class="img-1" width="100%" height="400">
                    <img src="../../../images/ongc.png" alt="" class="img-1" width="100%" height="400">
                    <img src="../../../images/partners-women.png" alt="" class="img-1" width="100%" height="400">
                    <img src="../../../images/haryana.png" alt="" class="img-1" width="100%" height="400">
                    <img src="../../../images/up.webp" alt="" class="img-1" width="100%" height="400">
                    <img src="../../../images/odisha.jpg" alt="" class="img-1" width="100%" height="400">
                    <img src="../../../images/west-bengal.png" alt="" class="img-1" width="100%" height="400">
                    <img src="../../../images/jharkhand.jpg" alt="" class="img-1" width="100%" height="400">
                    <img src="../../../images/bihar.png" alt="" class="img-1" width="100%" height="400">
                    <img src="../../../images/uttrakhand-removebg-preview.png" alt="" class="img-1" width="100%"
                        height="400">
                    <img src="../../../images/NABARD.jpeg" alt="" class="img-1" width="100%" height="400">

                    <img src="../../../images/handicraft-logo.png" alt="" class="img-1" width="100%" height="400">
                </div>
            </div>
        </section>
    </div>

    <footer>
        <div class="footer">
            <div class="company">
                <div class="img-logo">
                    <img src="../images/logo_sdf-removebg-preview.png" alt="" width="50%">
                </div>
                <div class="footer-content">
                    <h5>SUSTAINABLE DEVELOPMENT FOUNDATION</h5>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, natus.</p>
                </div>
            </div>

            <div class="address">
                <h5>Get In Touch</h5>
                <p><a href="../templates/contact.html"><i class="fa-solid fa-envelope"></i>Send A Message</a></p>
                <p></p>
                <p><a href="#"><i class="fa-solid fa-location-dot"></i>Address</a></p>
                <p><a href="#"><i class="fa-solid fa-lock"></i>Privacy Policy</a></p>
            </div>

            <div class="social-media">
                <h5>Get Connect With Us
                </h5>
                <div class="social-media-icons">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://www.instagram.com/sdf.trust/"><i class="fa-brands fa-instagram-square"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                </div>

                <h4>SDF</h4>
                <p>Sustainable Development Foundation</p>
            </div>
        </div>

        <div class="copyright">
            <p> Copyright &copy; SDF Trust India </p>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"
        integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="../../../js/index.js"></script>
</body>

</html>