<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/fontawesome.min.css"
        integrity="sha512-xX2rYBFJSj86W54Fyv1de80DWBq7zYLn2z0I9bIhQG+rxIF6XVJUpdGnsNHWRa6AvP89vtFupEPDP8eZAtu9qA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/contact.css">
    <title>Contact Us</title>
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="../templates/index.html">Brand</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="main_nav">
                    <ul class="navbar-nav">
                        <li class="nav-item active"> <a class="nav-link" href="../templates/index.html">Home </a> </li>


                        <li class="nav-item dropdown" id="myDropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">About Us</a>
                            <ul class="dropdown-menu">
                                <li> <a class="dropdown-item" href="../templates/aboutm.html"> Who We Are </a></li>
                                <li><a href="#" class="dropdown-item">Our Intervention Strategy</a></li>
                                <li> <a class="dropdown-item" href="../templates/team.html"> Our Team &raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item" href="../templates/advisory.html">Advisory
                                                Board</a></li>
                                        <li><a class="dropdown-item" href="../templates/programteam.html">Program
                                                Team</a></li>

                                        <li><a class="dropdown-item" href="../templates/boardm.html">Board Members</a>
                                        </li>

                                    </ul>
                                </li>

                                <li> <a class="dropdown-item" href="../templates/partners.html"> Our Partners &raquo;
                                    </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item" href="../templates/gpartners.html">Government
                                                Partners</a></li>
                                        <li><a class="dropdown-item" href="../templates/csrpartners.html">CSR
                                                Partners</a></li>

                                        <li><a class="dropdown-item"
                                                href="../templates/financialpartners.html">Financial Institutions/
                                                Associations</a>
                                        </li>

                                    </ul>
                                </li>

                                <li> <a class="dropdown-item" href="#"> What We Do &raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Program Intervention</a></li>
                                        <li><a class="dropdown-item" href="#">Baseline Study</a></li>

                                        <li><a class="dropdown-item" href="#">Impact Assessment</a></li>
                                        <li><a class="dropdown-item" href="#">Training Need Agreement</a></li>

                                    </ul>
                                </li>

                            </ul>
                        </li>

                        <li class="nav-item dropdown" id="myDropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Our Program</a>
                            <ul class="dropdown-menu">

                                <li> <a class="dropdown-item" href="#">Health &raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item" href="#">RCH</a></li>
                                        <li><a class="dropdown-item" href="#">ARSH</a></li>
                                        <li><a class="dropdown-item" href="#">MALERIA</a></li>
                                        <li><a class="dropdown-item" href="#">Chronical Disease</a></li>
                                    </ul>
                                </li>
                                <li> <a class="dropdown-item" href="#">Livelihood &raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item" href="#">IGP</a></li>
                                        <li><a class="dropdown-item" href="#">Skill Training</a></li>
                                        <li><a class="dropdown-item" href="#">MEDP</a></li>
                                    </ul>
                                </li>
                                <li> <a class="dropdown-item" href="../../templates/OurProgram/child.html">Child</a>
                                </li>
                                <li> <a class="dropdown-item" href="#">Education&raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Education for out of School Children</a>
                                        </li>
                                        <li><a class="dropdown-item" href="#">Educational Infrastructure Development</a>
                                        </li>
                                        <li><a class="dropdown-item" href="#">Financial Support for Higher Studies</a>
                                        </li>
                                    </ul>
                                </li>
                                <li> <a class="dropdown-item" href="#">Handicraft&raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Artirals Training</a></li>
                                        <li><a class="dropdown-item" href="#">Exhibition</a></li>
                                        <li><a class="dropdown-item" href="#">Market </a></li>
                                    </ul>
                                </li>
                                <li> <a class="dropdown-item" href="#">Agriculture &raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item" href="#">FPO</a></li>
                                        <li><a class="dropdown-item" href="#">Seed Chunks</a></li>
                                        <li><a class="dropdown-item" href="#">Farmers Training</a></li>
                                        <li><a class="dropdown-item" href="#">New Technology</a></li>
                                    </ul>
                                </li>
                                <li> <a class="dropdown-item" href="#">Woment Empowerment &raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item" href="#">SHG</a></li>
                                        <li><a class="dropdown-item" href="#">Gender</a></li>

                                    </ul>
                                </li>
                                <li> <a class="dropdown-item" href="#">CBOs&raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item" href="#">PRIS</a></li>
                                        <li><a class="dropdown-item" href="#">FPO</a></li>
                                        <li><a class="dropdown-item" href="#">SHG Federation </a></li>
                                    </ul>
                                </li>
                                <li><a class="dropdown-item" href="#"> Digital & Financial Literacy </a></li>
                                <li><a class="dropdown-item" href="#"> Art & Culture </a></li>
                                <li><a href="#" class="dropdown-item">Disaster Management</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown" id="myDropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Resources &
                                Publications</a>
                            <ul class="dropdown-menu">

                                <li> <a class="dropdown-item" href="../templates/team.html"> Profile &raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item" href="../templates/advisory.html">Annual Report
                                            </a></li>
                                        <li><a class="dropdown-item" href="../templates/programteam.html">Annual Audit
                                                Report</a></li>

                                        <li><a class="dropdown-item" href="../templates/boardm.html">ITR</a>
                                        </li>

                                    </ul>
                                </li>

                                <li> <a class="dropdown-item" href="../templates/partners.html"> Legal Documents &raquo;
                                    </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item" href="../templates/gpartners.html">Trust Deed</a>
                                        </li>
                                        <li><a class="dropdown-item" href="../templates/csrpartners.html">PAN</a></li>
                                        <li><a href="#" class="dropdown-item">TAN</a></li>
                                        <li><a href="#" class="dropdown-item">CSR</a></li>
                                        <li><a href="#" class="dropdown-item">NGO</a></li>
                                        <li><a href="#" class="dropdown-item">ISO</a></li>
                                        <li><a href="#" class="dropdown-item">MSME</a></li>
                                        <li><a href="#" class="dropdown-item">DC Handicraft</a></li>
                                        <li><a href="#" class="dropdown-item">12AA</a></li>
                                        <li><a href="#" class="dropdown-item">80G</a></li>
                                        <li><a href="#" class="dropdown-item">Banking Details</a></li>

                                    </ul>
                                </li>



                            </ul>
                        </li>
                        <li class="nav-item active"> <a class="nav-link" href="../contact.html">Media</a> </li>
                        <li class="nav-item active"> <a class="nav-link" href="../templates/contact.html">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <!-- navbar-collapse.// -->
            </div>
            <!-- container-fluid.// -->
        </nav>

    </header>

    <div>
        <div class="contact-heading">
            <h1>Contact <span>Us</span></h1>
        </div>

        <div class="container">
            <div class="contact-info-main">
                <div class="contact-content">
                    <h2>Get In Touch</h2>
                    <hr>
                    <div class="contact-info">
                        <h3>Address</h3>
                        <div class="contact-address">
                            <p><i class="fa-solid fa-address-card"></i></p>

                            <p>Address: B-9, 3rd floor, plot no. 868, metro piller no. 785, Dwarka more, sec.-15,
                                Dwarka,
                                Delhi
                                (India) - 110059</p>
                        </div>
                        <h3>Numbers</h3>
                        <div class="contact-number">
                            <p><i class="fa-solid fa-phone"></i></p>
                            <p>General Inquiries: +91-7303054679, 8800544554</p>
                        </div>
                        <h3>Email</h3>
                        <div class="contact-email">
                            <p><i class="fa-solid fa-envelope"></i></p>
                            <p>sdfindia@gmail.com</p>
                        </div>
                        <div class="contact-email">
                            <p><i class="fa-solid fa-envelope"></i></p>
                            <p>info@sdfttrustgmail.com</p>
                        </div>
                        <h3>Working Hours</h3>
                        <div class="contact-working">
                            <p><i class="fa-solid fa-hourglass"></i></p>
                            <p>Monday - Saturday : 10:00 am to 05:00 pm </p>
                        </div>
                        <div class="contact-working">
                            <p><i class="fa-solid fa-lock"></i></p>
                            <p>Sunday -- Closed</p>
                        </div>
                    </div>
                </div>

                <div class="contact-map">
                    <div class="img">
                        <img src="../images/india.png" alt="" height="400px">
                    </div>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1751.2027906364087!2d77.03034060811316!3d28.617604095605916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d0547dadf4279%3A0xb72199d723f502f8!2sPatel%20Garden%2C%20Block%20B%2C%20Sector%2015%20Dwarka%2C%20Dwarka%2C%20Delhi!5e0!3m2!1sen!2sin!4v1649845467780!5m2!1sen!2sin"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>


                </div>
            </div>
            <div class="form">
                <div>
                    <form id="contact" action="" method="post">

                        <h4>Fill Out This Form Regarding Any Query</h4>
                        <h2>Send Us A Message</h2>
                        <fieldset>
                            <input placeholder="Your name" type="text" tabindex="1" required autofocus>
                        </fieldset>
                        <fieldset>
                            <input placeholder="Your Email Address" type="email" tabindex="2" required>
                        </fieldset>
                        <fieldset>
                            <input placeholder="Subject" type="tel" tabindex="3" required>
                        </fieldset>

                        <fieldset>
                            <textarea placeholder="Type your Message Here...." tabindex="5" required></textarea>
                        </fieldset>
                        <fieldset>
                            <button name="submit" type="submit" id="contact-submit"
                                data-submit="...Sending">Submit</button>
                        </fieldset>
                    </form>


                </div>

            </div>

            <section class="footer">
                <footer class="footer-section">
                    <div>
                        <div class="footer-cta pt-5 pb-5">
                            <div class="row">
                                <div class="col-xl-4 col-md-4 mb-30">
                                    <div class="single-cta">
                                        <i class="fas fa-map-marker-alt"></i>
                                        <div class="cta-text">
                                            <h4>Find us</h4>
                                            <span>B-9, 3rd floor, plot no. 868, metro piller no. 785, Dwarka more,
                                                sec.-15,
                                                Dwarka,
                                                Delhi
                                                (India) - 110059</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-4 mb-30">
                                    <div class="single-cta">
                                        <i class="fas fa-phone"></i>
                                        <div class="cta-text">
                                            <h4>Call us</h4>
                                            <span>9876543210 0</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-4 mb-30">
                                    <div class="single-cta">
                                        <i class="far fa-envelope-open"></i>
                                        <div class="cta-text">
                                            <h4>Mail us</h4>
                                            <span>mail@info.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer-content pt-5 pb-5">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 mb-50">
                                    <div class="footer-widget">
                                        <div class="footer-logo">
                                            <h1><a href="home.html">SDF</a></h1>
                                            <p>Sustainable Development Foundation</p>
                                        </div>

                                        <div class="footer-text">
                                            <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod
                                                tempor incididuntut consec tetur adipisicing
                                                elit,Lorem ipsum dolor sit amet.</p>
                                        </div>
                                        <div class="footer-social-icon">
                                            <span>Follow us</span>
                                            <a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a>
                                            <a href="#"><i class="fab fa-twitter twitter-bg"></i></a>
                                            <a href="#"><i class="fab fa-google-plus-g google-bg"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                                    <div class="footer-widget">
                                        <div class="footer-widget-heading">
                                            <h3>Useful Links</h3>
                                        </div>
                                        <ul>
                                            <li><a href="#">Home</a></li>
                                            <li><a href="#">about</a></li>
                                            <li><a href="#">services</a></li>
                                            <li><a href="#">portfolio</a></li>
                                            <li><a href="#">Contact</a></li>
                                            <li><a href="#">About us</a></li>
                                            <li><a href="#">Our Services</a></li>
                                            <li><a href="#">Expert Team</a></li>
                                            <li><a href="#">Contact us</a></li>
                                            <li><a href="#">Latest News</a></li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="copyright-area">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                                    <div class="copyright-text">
                                        <p>Copyright &copy; 2018, All Right Reserved <a
                                                href="https://codepen.io/anupkumar92/">Anup</a></p>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
                                    <div class="footer-menu">
                                        <ul>
                                            <li><a href="#">Home</a></li>
                                            <li><a href="#">Terms</a></li>
                                            <li><a href="#">Privacy</a></li>
                                            <li><a href="#">Policy</a></li>
                                            <li><a href="#">Contact</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </section>

        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="../js/index.js"></script>
</body>

</html>