<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/fontawesome.min.css"
        integrity="sha512-xX2rYBFJSj86W54Fyv1de80DWBq7zYLn2z0I9bIhQG+rxIF6XVJUpdGnsNHWRa6AvP89vtFupEPDP8eZAtu9qA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../css/contact.css">
    <title>Contact Us</title>
</head>

<body>

    <!-- Navbar is starting from here -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand text-success" href="../templates/index.html"><img
                        src="../images/logo_sdf-removebg-preview.png" alt="" width="160px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="main_nav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item active"> <a class="nav-link" href="../templates/index.html">Home </a> </li>


                        <li class="nav-item dropdown" id="myDropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">About Us</a>
                            <ul class="dropdown-menu">
                                <li> <a class="dropdown-item" href="../templates/Aboutus/OurPartners/about.html"> Who We
                                        Are </a></li>
                                <li><a href="../templates/Aboutus/WhatWeDo/intervention.html" class="dropdown-item">Our
                                        Intervention Strategy</a></li>
                                <li> <a class="dropdown-item" href="../templates/Aboutus/OurTeam/team.html"> Our Team
                                        &raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="../templates/Aboutus/OurTeam/advisory.html">Advisory
                                                Board</a></li>
                                        <li><a class="dropdown-item"
                                                href="../templates/Aboutus/OurTeam/programteam.html">Program
                                                Team</a></li>

                                        <li><a class="dropdown-item"
                                                href="../templates/Aboutus/OurTeam/boardm.html">Board Members</a>
                                        </li>

                                    </ul>
                                </li>

                                <li> <a class="dropdown-item" href="../templates/Aboutus/OurPartners/partners.html"> Our
                                        Partners &raquo;
                                    </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="../templates/Aboutus/OurPartners/gpartners.html">Government
                                                Partners</a></li>
                                        <li><a class="dropdown-item"
                                                href="../templates/Aboutus/OurPartners/csrpartners.html">CSR
                                                Partners</a></li>

                                        <li><a class="dropdown-item"
                                                href="../templates/Aboutus/OurPartners/financialpartners.html">Financial
                                                Institutions/
                                                Associations</a>
                                        </li>

                                    </ul>
                                </li>


                            </ul>
                        </li>

                        <li class="nav-item dropdown" id="myDropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Our Program</a>
                            <ul class="dropdown-menu">

                                <li> <a class="dropdown-item" href="../templates/programs/Health/health.html">Health
                                        &raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/Health/health.html">RCH</a></li>
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/Health/health.html">ARSH</a></li>
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/Health/health.html">MALERIA</a></li>
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/Health/health.html">Chronical Disease</a>
                                        </li>
                                    </ul>
                                </li>
                                <li> <a class="dropdown-item"
                                        href="../templates/programs/Livelihood/livelihood.html">Livelihood &raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/Livelihood/igp.html">IGP</a></li>
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/Livelihood/skill.html">Skill Training</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/Livelihood/medp.html">MEDP</a></li>
                                    </ul>
                                </li>
                                <li><a class="dropdown-item" href="../templates/programs/child.html">Child</a></li>
                                <li> <a class="dropdown-item"
                                        href="../templates/programs/education.html">Education&raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/education.html">Education for out of School
                                                Children</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/education.html">Educational Infrastructure
                                                Development</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/education.html">Financial Support for Higher
                                                Studies</a>
                                        </li>
                                    </ul>
                                </li>
                                <li> <a class="dropdown-item"
                                        href="../templates/programs/handicraft.html">Handicraft&raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/handicraft.html">Artirals Training</a></li>
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/handicraft.html">Exhibition</a></li>
                                        <li><a class="dropdown-item" href="../templates/programs/handicraft.html">Market
                                            </a></li>
                                    </ul>
                                </li>
                                <li> <a class="dropdown-item" href="../templates/programs/agriculture.html">Agriculture
                                        &raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/agriculture.html">FPO</a></li>
                                        <li><a class="dropdown-item" href="../templates/programs/agriculture.html">Seed
                                                Chunks</a></li>
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/agriculture.html">Farmers Training</a></li>
                                        <li><a class="dropdown-item" href="../templates/programs/agriculture.html">New
                                                Technology</a></li>
                                    </ul>
                                </li>
                                <li> <a class="dropdown-item" href="../templates/programs/women.html">Woment Empowerment
                                        &raquo;
                                    </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item" href="../templates/programs/women.html">SHG</a>
                                        </li>
                                        <li><a class="dropdown-item" href="../templates/programs/women.html">Gender</a>
                                        </li>
                                    </ul>
                                </li>
                                <li> <a class="dropdown-item" href="../templates/programs/cbo.html">CBOs&raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item" href="../templates/programs/cbo.html">PRIS</a></li>
                                        <li><a class="dropdown-item" href="../templates/programs/cbo.html">FPO</a></li>
                                        <li><a class="dropdown-item" href="../templates/programs/cbo.html">SHG
                                                Federation </a></li>
                                    </ul>
                                </li>
                                <li><a class="dropdown-item" href="../templates/programs/digital.html"> Digital &
                                        Financial Literacy </a></li>
                                <li><a class="dropdown-item" href="../templates/programs/art.html"> Art & Culture </a>
                                </li>
                                <li><a href="../templates/programs/disaster.html" class="dropdown-item">Disaster
                                        Management</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown" id="myDropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Resources &
                                Publications</a>
                            <ul class="dropdown-menu">

                                <li> <a class="dropdown-item"
                                        href="../templates/Resources&Publications/Profile/profile.html"> Profile &raquo;
                                    </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="../templates/Resources&Publications/Profile/profile.html">Annual
                                                Report
                                            </a></li>
                                        <li><a class="dropdown-item"
                                                href="../templates/Resources&Publications/Profile/profile.html">Annual
                                                Audit
                                                Report</a></li>

                                        <li><a class="dropdown-item"
                                                href="../templates/Resources&Publications/Profile/profile.html">ITR</a>
                                        </li>

                                    </ul>
                                </li>

                                <li> <a class="dropdown-item"
                                        href="../templates/Resources&Publications/LegalDocuments/legal.html"> Legal
                                        Documents &raquo;
                                    </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="../templates/Resources&Publications/LegalDocuments/legal.html">Trust
                                                Deed</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                                href="../templates/Resources&Publications/LegalDocuments/legal.html">PAN</a>
                                        </li>
                                        <li><a href="../templates/Resources&Publications/LegalDocuments/legal.html"
                                                class="dropdown-item">TAN</a></li>
                                        <li><a href="../templates/Resources&Publications/LegalDocuments/legal.html"
                                                class="dropdown-item">CSR</a></li>
                                        <li><a href="../templates/Resources&Publications/LegalDocuments/legal.html"
                                                class="dropdown-item">NGO</a></li>
                                        <li><a href="../templates/Resources&Publications/LegalDocuments/legal.html"
                                                class="dropdown-item">ISO</a></li>
                                        <li><a href="../templates/Resources&Publications/LegalDocuments/legal.html"
                                                class="dropdown-item">MSME</a></li>
                                        <li><a href="../templates/Resources&Publications/LegalDocuments/legal.html"
                                                class="dropdown-item">DC Handicraft</a></li>
                                        <li><a href="../templates/Resources&Publications/LegalDocuments/legal.html"
                                                class="dropdown-item">12AA</a></li>
                                        <li><a href="../templates/Resources&Publications/LegalDocuments/legal.html"
                                                class="dropdown-item">80G</a></li>
                                        <li><a href="../templates/Resources&Publications/LegalDocuments/legal.html"
                                                class="dropdown-item">Banking Details</a></li>

                                    </ul>
                                </li>



                            </ul>
                        </li>
                        <li class="nav-item active"> <a class="nav-link" href="../templates/media.html">Media</a> </li>
                        <li class="nav-item active"> <a class="nav-link" href="../templates/contact.html">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <!-- navbar-collapse.// -->
            </div>
            <!-- container-fluid.// -->
        </nav>

    </header>
    <!-- Navbar Ends -->

    <div>
        <div class="contact-heading">
            <h1>Contact <span>Us</span></h1>
        </div>

        <div class="container">
            <div class="contact-info-main">
                <div class="contact-content">
                    <h2>Get In Touch</h2>
                    <hr>
                    <div class="contact-info">
                        <h3>Address</h3>
                        <div class="contact-address">
                            <p><i class="fa-solid fa-address-card"></i></p>

                            <p>Address: B-9, 3rd floor, plot no. 868, metro piller no. 785, Dwarka more, sec.-15,
                                Dwarka,
                                Delhi
                                (India) - 110059</p>
                        </div>
                        <h3>Numbers</h3>
                        <div class="contact-number">
                            <p><i class="fa-solid fa-phone"></i></p>
                            <p>General Inquiries: +91-7303054679, 8800544554</p>
                        </div>
                        <h3>Email</h3>
                        <div class="contact-email">
                            <p><i class="fa-solid fa-envelope"></i></p>
                            <p>sdfindia@gmail.com</p>
                        </div>
                        <div class="contact-email">
                            <p><i class="fa-solid fa-envelope"></i></p>
                            <p>info@sdfttrustgmail.com</p>
                        </div>
                        <h3>Working Hours</h3>
                        <div class="contact-working">
                            <p><i class="fa-solid fa-hourglass"></i></p>
                            <p>Monday - Saturday : 10:00 am to 05:00 pm </p>
                        </div>
                        <div class="contact-working">
                            <p><i class="fa-solid fa-lock"></i></p>
                            <p>Sunday -- Closed</p>
                        </div>
                    </div>
                </div>

                <div class="contact-map">
                    <div class="img">
                        <img src="../images/india.png" alt="" height="400px">
                    </div>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1751.2027906364087!2d77.03034060811316!3d28.617604095605916!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d0547dadf4279%3A0xb72199d723f502f8!2sPatel%20Garden%2C%20Block%20B%2C%20Sector%2015%20Dwarka%2C%20Dwarka%2C%20Delhi!5e0!3m2!1sen!2sin!4v1649845467780!5m2!1sen!2sin"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>


                </div>
            </div>
            <div class="form">
                <div>
                    <form id="contact" action="" method="post">

                        <h4>Fill Out This Form Regarding Any Query</h4>
                        <h2>Send Us A Message</h2>
                        <fieldset>
                            <input placeholder="Your name" type="text" tabindex="1" required autofocus>
                        </fieldset>
                        <fieldset>
                            <input placeholder="Your Email Address" type="email" tabindex="2" required>
                        </fieldset>
                        <fieldset>
                            <input placeholder="Subject" type="tel" tabindex="3" required>
                        </fieldset>

                        <fieldset>
                            <textarea placeholder="Type your Message Here...." tabindex="5" required></textarea>
                        </fieldset>
                        <fieldset>
                            <button name="submit" type="submit" id="contact-submit"
                                data-submit="...Sending">Submit</button>
                        </fieldset>
                    </form>


                </div>

            </div>



        </div>

        <footer>
            <div class="footer">
                <div class="company">
                    <div class="img-logo">
                        <img src="../images/logo_sdf-removebg-preview.png" alt="" width="50%">
                    </div>
                    <div class="footer-content">
                        <h5>SUSTAINABLE DEVELOPMENT FOUNDATION</h5>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, natus.</p>
                    </div>
                </div>

                <div class="address">
                    <h5>Get In Touch</h5>
                    <p><a href="../templates/contact.html"><i class="fa-solid fa-envelope"></i>Send A Message</a>
                    </p>
                    <p></p>
                    <p><a href="#"><i class="fa-solid fa-location-dot"></i>Address</a></p>
                    <p><a href="#"><i class="fa-solid fa-lock"></i>Privacy Policy</a></p>
                </div>

                <div class="social-media">
                    <h5>Get Connect With Us
                    </h5>
                    <div class="social-media-icons">
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="https://www.instagram.com/sdf.trust/"><i class="fa-brands fa-instagram-square"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                    </div>

                    <h4>SDF</h4>
                    <p>Sustainable Development Foundation</p>
                </div>
            </div>

            <div class="copyright">
                <p> Copyright &copy; SDF Trust India </p>
            </div>
        </footer>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="../js/index.js"></script>
</body>

</html>