body {
    background: #484848;
    color: red;
    text-align: center;
    font-family: Helvetica, sans-serif;

    #slider {
        background: #363636;
        width: 100%;
        margin: 0 auto;
    }

    #slider img {
        display: none;
        border: 3px solid #000;
        border-radius: 20px;


        &.show {
            display: inline;
        }
    }
}