<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/navbar.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@animxyz/core">
    <title>Navigation Menu</title>
</head>
<style>

</style>

<body>
    <div class="page-wrap xyz-in">
        <div class="page-hero" xyz="fade small stagger ease-out-back">
            <div class="hero-logo xyz-nested"></div>
            <p class="hero-text xyz-nested">
                Curabitur blandit tempus porttitor. Morbi leo risus.
            </p>
        </div>
        <div class="page-features" xyz="fade flip-down stagger duration-10 delay-2 ease-out-back">
            <div class="feature-item xyz-nested"></div>
            <div class="feature-item xyz-nested"></div>
            <div class="feature-item xyz-nested"></div>
        </div>
        <div class="page-section" xyz="fade small stagger delay-4 ease-in-out">
            <div class="section-left" xyz="fade left stagger">
                <div class="section-item xyz-nested"></div>
                <div class="section-item xyz-nested"></div>
                <div class="section-item xyz-nested"></div>
            </div>
            <div class="section-right xyz-nested" xyz="fade big delay-10"></div>
        </div>
        <div class="page-footer" xyz="fade bottom ease-in-out delay-10">
            <div class="footer-logo xyz-nested" xyz="fade left ease-in-out delay-10"></div>
            <div class="footer-right" xyz="fade up stagger ease-in-out delay-10">
                <div class="footer-item xyz-nested"></div>
                <div class="footer-item xyz-nested"></div>
                <div class="footer-item xyz-nested"></div>
            </div>
        </div>
    </div>

</body>

</html>