<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../../css/navbar.css">
    <title>Navigation Menu</title>
</head>
<style>

</style>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand text-success" href="#">SDF</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About Us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Get Involved
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Careers</a></li>
                            <li><a class="dropdown-item" href="#">CSR Partners</a></li>

                            <li><a class="dropdown-item" href="#">Internship</a></li>
                            <li><a href="#" class="dropdown-item">Training</a></li>
                            <li><a href="#" class="dropdown-item">Volunteer</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a href="#" class="dropdown-item">Donate</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Media
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Case Studies</a></li>
                            <li><a class="dropdown-item" href="#">Concept Notes</a></li>

                            <li><a class="dropdown-item" href="#">Events</a></li>
                            <li><a href="#" class="dropdown-item">News</a></li>
                            <li><a href="#" class="dropdown-item">Photo Gallery</a></li>
                            <li><a href="#" class="dropdown-item">Video Gallery</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Mission & Vision</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Our Partners
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Bank</a></li>
                            <li><a class="dropdown-item" href="#">CSR Partners</a></li>

                            <li><a class="dropdown-item" href="#">Government Partners</a></li>
                            <li><a href="#" class="dropdown-item">Institutes/Universities</a></li>

                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Our Team
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Advisory Board</a></li>
                            <li><a class="dropdown-item" href="#">Board Members</a></li>

                            <li><a class="dropdown-item" href="#">Staffs</a></li>

                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Our Programs
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Agriculture</a></li>
                            <li><a class="dropdown-item" href="#">CBO</a></li>

                            <li><a class="dropdown-item" href="#">Digital Literacy</a></li>
                            <li><a href="#" class="dropdown-item">Education</a></li>
                            <li><a href="#" class="dropdown-item">Gender</a></li>
                            <li><a href="#" class="dropdown-item">Handicraft</a></li>
                            <li><a href="#" class="dropdown-item">Health</a></li>
                            <li><a href="#" class="dropdown-item">Livelihood</a></li>
                            <li><a href="#" class="dropdown-item">MEDP</a></li>
                            <li><a href="#" class="dropdown-item">Research</a></li>
                            <li><a href="#" class="dropdown-item">Road Safety</a></li>
                            <li><a href="#" class="dropdown-item">Skill Training</a></li>
                            <li><a href="#" class="dropdown-item">Street Children</a></li>
                            <li><a href="#" class="dropdown-item">Water & Sanitation</a></li>
                            <li><a href="#" class="dropdown-item">Women Empowerment</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Resources & Publications
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">12AA</a></li>
                            <li><a class="dropdown-item" href="#">80G</a></li>

                            <li><a class="dropdown-item" href="#">Annual Report</a></li>
                            <li><a href="#" class="dropdown-item">Audit</a></li>
                            <li><a href="#" class="dropdown-item">CSR</a></li>
                            <li><a href="#" class="dropdown-item">Handicraft</a></li>
                            <li><a href="#" class="dropdown-item">ISO</a></li>
                            <li><a href="#" class="dropdown-item">ITR</a></li>
                            <li><a href="#" class="dropdown-item">MSME</a></li>
                            <li><a href="#" class="dropdown-item">Niti Ayog</a></li>
                            <li><a href="#" class="dropdown-item">PAN</a></li>
                            <li><a href="#" class="dropdown-item">Profile</a></li>

                        </ul>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Contact Us</a>
                    </li>


                </ul>

            </div>
        </div>
    </nav>

    <div id="slider">
        <img class="show" src="../4.jpg" alt="" width="100%">
        <img class="show" src="../3.jpg" alt="" width="100%">
        <img class="show" src="../2.jpg" alt="" width="100%">
        <img class="show" src="../1.jpg" alt="" width="100%">
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="../templates/navbar.js"></script>
</body>

</html>