<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../../css/health.css">
    <title>Health</title>
</head>

<body>

    <!-- Navbar is starting from here -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand text-success" href="../templates/index.html"><img
                        src="../../../images/logo_sdf-removebg-preview.png" alt="" width="160px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="main_nav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item active"> <a class="nav-link" href="../templates/index.html">Home </a> </li>


                        <li class="nav-item dropdown" id="myDropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">About Us</a>
                            <ul class="dropdown-menu">
                                <li> <a class="dropdown-item" href="../templates/Aboutus/OurPartners/about.html"> Who We
                                        Are </a></li>
                                <li><a href="../templates/Aboutus/WhatWeDo/intervention.html" class="dropdown-item">Our
                                        Intervention Strategy</a></li>
                                <li> <a class="dropdown-item" href="../templates/Aboutus/OurTeam/team.html"> Our Team
                                        &raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="../templates/Aboutus/OurTeam/advisory.html">Advisory
                                                Board</a></li>
                                        <li><a class="dropdown-item"
                                                href="../templates/Aboutus/OurTeam/programteam.html">Program
                                                Team</a></li>

                                        <li><a class="dropdown-item"
                                                href="../templates/Aboutus/OurTeam/boardm.html">Board Members</a>
                                        </li>

                                    </ul>
                                </li>

                                <li> <a class="dropdown-item" href="../templates/Aboutus/OurPartners/partners.html"> Our
                                        Partners &raquo;
                                    </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="../templates/Aboutus/OurPartners/gpartners.html">Government
                                                Partners</a></li>
                                        <li><a class="dropdown-item"
                                                href="../templates/Aboutus/OurPartners/csrpartners.html">CSR
                                                Partners</a></li>

                                        <li><a class="dropdown-item"
                                                href="../templates/Aboutus/OurPartners/financialpartners.html">Financial
                                                Institutions/
                                                Associations</a>
                                        </li>

                                    </ul>
                                </li>


                            </ul>
                        </li>

                        <li class="nav-item dropdown" id="myDropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Our Program</a>
                            <ul class="dropdown-menu">

                                <li> <a class="dropdown-item" href="../templates/programs/Health/health.html">Health
                                        &raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/Health/health.html">RCH</a></li>
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/Health/health.html">ARSH</a></li>
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/Health/health.html">MALERIA</a></li>
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/Health/health.html">Chronical Disease</a>
                                        </li>
                                    </ul>
                                </li>
                                <li> <a class="dropdown-item"
                                        href="../templates/programs/Livelihood/livelihood.html">Livelihood &raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/Livelihood/igp.html">IGP</a></li>
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/Livelihood/skill.html">Skill Training</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/Livelihood/medp.html">MEDP</a></li>
                                    </ul>
                                </li>
                                <li><a class="dropdown-item" href="../templates/programs/child.html">Child</a></li>
                                <li> <a class="dropdown-item"
                                        href="../templates/programs/education.html">Education&raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/education.html">Education for out of School
                                                Children</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/education.html">Educational Infrastructure
                                                Development</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/education.html">Financial Support for Higher
                                                Studies</a>
                                        </li>
                                    </ul>
                                </li>
                                <li> <a class="dropdown-item"
                                        href="../templates/programs/handicraft.html">Handicraft&raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/handicraft.html">Artirals Training</a></li>
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/handicraft.html">Exhibition</a></li>
                                        <li><a class="dropdown-item" href="../templates/programs/handicraft.html">Market
                                            </a></li>
                                    </ul>
                                </li>
                                <li> <a class="dropdown-item" href="../templates/programs/agriculture.html">Agriculture
                                        &raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/agriculture.html">FPO</a></li>
                                        <li><a class="dropdown-item" href="../templates/programs/agriculture.html">Seed
                                                Chunks</a></li>
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/agriculture.html">Farmers Training</a></li>
                                        <li><a class="dropdown-item" href="../templates/programs/agriculture.html">New
                                                Technology</a></li>
                                    </ul>
                                </li>
                                <li> <a class="dropdown-item" href="../templates/programs/women.html">Woment Empowerment
                                        &raquo;
                                    </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item" href="../templates/programs/women.html">SHG</a>
                                        </li>
                                        <li><a class="dropdown-item" href="../templates/programs/women.html">Gender</a>
                                        </li>
                                    </ul>
                                </li>
                                <li> <a class="dropdown-item" href="../templates/programs/cbo.html">CBOs&raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item" href="../templates/programs/cbo.html">PRIS</a></li>
                                        <li><a class="dropdown-item" href="../templates/programs/cbo.html">FPO</a></li>
                                        <li><a class="dropdown-item" href="../templates/programs/cbo.html">SHG
                                                Federation </a></li>
                                    </ul>
                                </li>
                                <li><a class="dropdown-item" href="../templates/programs/digital.html"> Digital &
                                        Financial Literacy </a></li>
                                <li><a class="dropdown-item" href="../templates/programs/art.html"> Art & Culture </a>
                                </li>
                                <li><a href="../templates/programs/disaster.html" class="dropdown-item">Disaster
                                        Management</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown" id="myDropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Resources &
                                Publications</a>
                            <ul class="dropdown-menu">

                                <li> <a class="dropdown-item"
                                        href="../templates/Resources&Publications/Profile/profile.html"> Profile &raquo;
                                    </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="../templates/Resources&Publications/Profile/profile.html">Annual
                                                Report
                                            </a></li>
                                        <li><a class="dropdown-item"
                                                href="../templates/Resources&Publications/Profile/profile.html">Annual
                                                Audit
                                                Report</a></li>

                                        <li><a class="dropdown-item"
                                                href="../templates/Resources&Publications/Profile/profile.html">ITR</a>
                                        </li>

                                    </ul>
                                </li>

                                <li> <a class="dropdown-item"
                                        href="../templates/Resources&Publications/LegalDocuments/legal.html"> Legal
                                        Documents &raquo;
                                    </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="../templates/Resources&Publications/LegalDocuments/legal.html">Trust
                                                Deed</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                                href="../templates/Resources&Publications/LegalDocuments/legal.html">PAN</a>
                                        </li>
                                        <li><a href="../templates/Resources&Publications/LegalDocuments/legal.html"
                                                class="dropdown-item">TAN</a></li>
                                        <li><a href="../templates/Resources&Publications/LegalDocuments/legal.html"
                                                class="dropdown-item">CSR</a></li>
                                        <li><a href="../templates/Resources&Publications/LegalDocuments/legal.html"
                                                class="dropdown-item">NGO</a></li>
                                        <li><a href="../templates/Resources&Publications/LegalDocuments/legal.html"
                                                class="dropdown-item">ISO</a></li>
                                        <li><a href="../templates/Resources&Publications/LegalDocuments/legal.html"
                                                class="dropdown-item">MSME</a></li>
                                        <li><a href="../templates/Resources&Publications/LegalDocuments/legal.html"
                                                class="dropdown-item">DC Handicraft</a></li>
                                        <li><a href="../templates/Resources&Publications/LegalDocuments/legal.html"
                                                class="dropdown-item">12AA</a></li>
                                        <li><a href="../templates/Resources&Publications/LegalDocuments/legal.html"
                                                class="dropdown-item">80G</a></li>
                                        <li><a href="../templates/Resources&Publications/LegalDocuments/legal.html"
                                                class="dropdown-item">Banking Details</a></li>

                                    </ul>
                                </li>



                            </ul>
                        </li>
                        <li class="nav-item active"> <a class="nav-link" href="../templates/media.html">Media</a> </li>
                        <li class="nav-item active"> <a class="nav-link" href="../../../templates/contact.html">Contact
                                Us</a>
                        </li>
                    </ul>
                </div>
                <!-- navbar-collapse.// -->
            </div>
            <!-- container-fluid.// -->
        </nav>

    </header>
    <!-- Navbar Ends -->

    <div>
        <section class="health">
            <div class="health-heading">
                <h1>HEALTH</h1>
            </div>
            <div class="container">
                <div class="health-content">
                    <div class="health-content-text">
                        <p class="text-1">
                            <span> Nutrition Awareness and Support:</span> SDF aims to raise awareness, improve
                            attitudes
                            and
                            practices to accelerate nutritional outcomes for targeted beneficiaries Increased household
                            income does not necessarily translating into improved nutritional outcomes and therefore can
                            only partially address the under and malnutrition challenges in India. Activities proposed
                            would
                            focus on awareness building, behavioral change for personal hygiene, food preparation, food
                            choices and mainstreaming nutrition sensitive actions, particularly in selected income
                            generating activities of beneficiaries.
                        </p>
                        <p class="text-2">
                            The target group for the nutrition related activities comprises largely a sub-set of project
                            beneficiaries that are among the core focus group for nutrition interventions – pregnant and
                            lactating mothers and young children. Behavioral change campaigns and awareness building
                            would be facilitated by SDF using the established community mechanism, while the activities
                            would be outsourced to experienced players/NGOs in the intervention areas.
                        </p>

                        <p class="text-3">
                            The project contract with agencies to train community professionals in the project areas and
                            support village nutrition groups that will be formed by project beneficiaries. Areas to be
                            covered
                            under the support would be:<span>(i) </span> improved kitchen gardens;<span>(ii) </span>
                            nutrition
                            practices; and <span>(iii) </span> hand-
                            washing. Additional support would be sought from Government institutions such as clinics and
                            line agencies for continuous community training on nutrition related issues and improved
                            agricultural practices. It is also expected that the recently negotiated Bank project on
                            Income
                            Support for the Poorest would reach out to some of the target group on nutrition.
                        </p>
                    </div>
                </div>

                <div class="health-content">
                    <div class="health-img-1">
                        <img src="../../../images/health2.jpg" alt="" width="100%">
                    </div>
                    <div class="health-img-2">
                        <img src="../../../images/health4.jpg" alt="" width="100%">
                    </div>
                </div>

            </div>

            <div class="img-health-2">
                <img src="../../../images/health1.jpeg" alt="" width="100%">
            </div>
            <div class="content-1">
                <h1>Key Projects</h1>
                <ul>
                    <li>Targeted Intervention among injecting Drug users.</li>
                    <li>Tobacco Awarness among school children.</li>
                    <li>Adolsence Reproductive and Sexsual Health amongst out of school girl</li>
                    <li>HIV/AIDS Awareness program among school children</li>
                    <li>HIV/AIDS Awareness program at construction site.</li>
                    <li>Live Skill Education among students of Government School , Delhi</li>
                </ul>
            </div>

            <div class="content-1">
                School awareness program on HIV/AIDS:
                HIV/AIDS has emerged as the single most formidable challenge to public health. School children of
                today are exposed to the risk of HIV/AIDS. SDF organised awareness program among school children
                to determine the knowledge regarding HIV/AIDS and provide suggestions for HIV/AIDS education in
                schools.
                Awareness program was conducted among students of tenth to twelfth standard in the intermediate
                schools of District Mirzapur, Uttar Pradesh, India. A total of 515 students, both boys and girls, were
                enrolled in the program. Under this awareness program, for majority of the students (85%), the
                source of information about HIV/AIDS was the television. Regarding knowledge about modes of
                transmission of HIV/AIDS among girl students, 95.1% of them told that it is through unprotected sex.
                A total of 75.8% students said that it was transmitted from mother to child. It was observed that the
                knowledge of the school students was quite satisfactory for most of the variables like modes of
                transmission, including mother-to-child transmission of the disease. However, schools should come
                forward to design awareness campaigns for the benefit of the students.
            </div>

            <div class="content-1">Tobacco awareness program for slum children:
                At least 70 children, their parents and friends from
                the slum area at Allahabad in Uttar Pradesh were
                sensitized on the harmful effects of tobacco.
                Vendors make loose cigarettes and bidis available

                24
                Annual Report FY-2020-21 SDF Trust
                for their customers which help children to access the same at cheap price.
                Multinational tobacco companies sell tobacco products around schools. “Vendors display tobacco
                products in ways that are appealing to children and youth. Vendors advertise tobacco products
                around schools,” said Sabyasachi Routray, founder of SDF Trust. Routray said: “Tobacco
                consumption rate in this dens slum is higher than the other areas of the Uttar Pradesh.
                Consumption of tobacco and tobacco products by the children is higher because these children are
                the most vulnerable to such threat mostly due to the environment they are dwelling with.” Stating
                that all parents should aware about the harmful effects of tobacco and tobacco products on their
                children, lack of education and uplift of children in the slums is one of the root causes of this
                problem. There was an interaction session where the parents of the tobacco used children raised
                various sensitive questions and urge to take tobacco control measures, especially to protect their
                young children from tobacco menace. Video clips about the bad effects of tobacco and tobacco
                products consumption were also demonstrated at the awareness programme.
            </div>

            <div class="img-health-3">
                <img src="../../../images/health3.jpg" alt="" width="100%">
            </div>

            <div class="content-1">
                <h3> Health Promotion Program</h3>
                <ul>
                    <li>HIV and AIDS awareness and preventions</li>
                    <li>School Children awareness program</li>
                    <li>Reproductive &amp; Child Health Program</li>
                    <li>Pulse Polio awareness program</li>
                    <li>ealth Check-up Camps for needy population</li>
                </ul>

            </div>

        </section>
    </div>
    <footer>
        <div class="footer">
            <div class="company">
                <div class="img-logo">
                    <img src="../images/logo_sdf-removebg-preview.png" alt="" width="50%">
                </div>
                <div class="footer-content">
                    <h5>SUSTAINABLE DEVELOPMENT FOUNDATION</h5>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad, natus.</p>
                </div>
            </div>

            <div class="address">
                <h5>Get In Touch</h5>
                <p><a href="../../../templates/contact.html"><i class="fa-solid fa-envelope"></i>Send A Message</a></p>
                <p></p>
                <p><a href="#"><i class="fa-solid fa-location-dot"></i>Address</a></p>
                <p><a href="#"><i class="fa-solid fa-lock"></i>Privacy Policy</a></p>
            </div>

            <div class="social-media">
                <h5>Get Connect With Us
                </h5>
                <div class="social-media-icons">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://www.instagram.com/sdf.trust/"><i class="fa-brands fa-instagram-square"></i></a>
                    <a href="#"><i class="fa-brands fa-twitter"></i></a>
                </div>

                <h4>SDF</h4>
                <p>Sustainable Development Foundation</p>
            </div>
        </div>

        <div class="copyright">
            <p> Copyright &copy; SDF Trust India </p>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"
        integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="../../../js/index.js"></script>
</body>

</html>