<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../../../css/boardm.css">
    <title>Board Members</title>
</head>

<body>

    <section class="b-members">

        <h1 style="text-align: center;">Governing Members</h1>
        <div class="container-b-members">
            <div class="item first">

                <div class="b-member-img"><img src="../../../images/1.png" alt="" width="200px" height="234px"></div>
                <div class="text-p">
                    <p>Mr. Sabyasachi is BSW & PG in NGO Management and the Founder Trustee of SDF Trust, and having
                        vast experience in NGO sector since last 20 years on issues like Health, Livelihood, Education,
                        Agriculture, Handicraft promotion and Women Empowerment, Livelihood option for Refugee and also
                        served in both National, International and Corporate sector i.e. SPYM, Matrix, Oxfam GB, Global
                        Fund, Educomp Solutions Ltd, L’acosa Pvt Ltd, World Bank & UNHCR. Currently serving as Chairman
                        of SDF Trust and giving 100% time for organizational Sustainability.
                    </p>
                </div>
            </div>
            <div class="item first">

                <div class="b-member-img"><img src="../../../images/2.png" alt="" width="200px" height="234px"></div>
                <div class="text-p">
                    <p>Ms. Banaja is MA in Sociology and MA in Classical Musing and the Executive Trustee/ Secretary of
                        SDF Trust and having 19 years working experience in NGO sector on issues like Health,
                        Livelihood, Education, Child Protection and Women Empowerment and also served in National level
                        NGO, Government Agency and International Organizations i.e CARA, CART, UN, Global Fund, WAFD.
                        Currently serving as Chief Executive Officer of SDF Trust and giving 100% time for
                        organizational Sustainability.
                    </p>
                </div>
            </div>
            <div class="item first">

                <div class="b-member-img"><img src="../../../images/3.png" alt="" width="200px" height="234px"></div>
                <div class="text-p">
                    <p>Mr. Hamid is MA in Sociology and is the Treasurer of SDF Trust and having 12 years working
                        experience in NGO sector on issues like Health, Livelihood and Women Empowerment, Refugee and
                        also served in National and International Organizations i.e MATRIX, Global Fund and UNHCR.
                        Currently serving as Program Director of SDF Trust and giving 100% time for organizational
                        Sustainability.
                    </p>
                </div>
            </div>

            <div class="item first">

                <div class="b-member-img"><img src="../../../images/4.png" alt="" width="200px" height="234px"></div>
                <div class="text-p">
                    <p>Mr. Shardindu is MSW (Gold Medallist) and is the Trustee of SDF Trust and having 20 years working
                        experience in NGO sector on issues like Health (HIV/AIDS), Livelihood and Women Empowerment and
                        serving as CEO - PAATH NGO and giving 30% time to SDF Trust for organizational Sustainability.
                    </p>
                </div>
            </div>

            <div class="item first">

                <div class="b-member-img"><img src="../../../images/5.png" alt="" width="200px" height="234px"></div>
                <div class="text-p">
                    <p>Ms. Smita is MSW and is the Trustee of SDF Trust and having 8 years working experience in NGO
                        sector on issues like Women Empowerment, Gender violence and Panchayati Raj. Currently working
                        in a MP based NGO and giving 20% time for organizational Sustainability.


                    </p>
                </div>
            </div>
            <div class="item first">

                <div class="b-member-img"><img src="../../../images/6.png" alt="" width="200px" height="234px"></div>
                <div class="text-p">
                    <p>Mr. Mihir is MBA and is the Trustee of SDF Trust and having 18 years working experience in
                        Corporate Sector NGO sector on issues like Skill Training, Livelihood and Women Empowerment and
                        also served in National level Organizations i.e Educomp Solutions Ltd and L’acosa. Currently
                        working in a Surat based Company and giving 20% time for organizational Sustainability.
                    </p>
                </div>
            </div>


            <div class="item first">

                <div class="b-member-img"><img src="../../../images/8.png" alt="" width="200px" height="234px"></div>
                <div class="text-p">
                    <p>Mr. Anil Kumar and is the Trustee of SDF Trust and having 48 years working experience as Asst.
                        General Manager in Andhra Bank, now he is working as concurrent Auditor in Public Sector Bank as
                        well as working as Sr. consultant in. Central Adoption Resource Authority (CARA), New Delhi and
                        giving 40% time to SDF Trust for organizational Sustainability.
                    </p>
                </div>
            </div>




            <div class="item first">

                <div class="b-member-img"><img src="../../../images/9.png" alt="" width="200px" height="234px"></div>
                <div class="text-p">
                    <p>Mr. Arun is MA in Sociology and is the Trustee of SDF Trust and having 26 years working
                        experience in NGO sector as activist on issues like Health, Livelihood and Women Empowerment and
                        serving as CEO - NAVACHAR NGO and giving 30% time to SDF Trust for organizational
                        Sustainability.
                    </p>
                </div>
            </div>


        </div>
        <div class="container-b-members-1">

            <div class="item first">

                <div class="b-member-img"><img src="../../../images/7.png" alt="" width="200px" height="234px"></div>
                <div class="text-p">
                    <p>Ms. Shahin is MA in Sociology and is the Trustee of SDF Trust and having 14 years long working
                        experience in NGO sector on issues like Health, Panchayati Raj and Women Empowerment. Currently
                        working in a Rajasthan based NGO and giving 20% time for organizational Sustainability.
                    </p>
                </div>
            </div>
            <div class="item first">

                <div class="b-member-img"><img src="../../../images/10.png" alt="" width="200px"></div>
                <div class="text-p">
                    <p>Mr. Bilal is MA in Sociology and is the Trustee of SDF Trust and having 3 years working
                        experience in NGO sector on issues like Education and health &Hygiene. Currently working in a
                        Delhi based NGO and giving 40% time for organizational Sustainability.
                    </p>
                </div>
            </div>



        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>