<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../../../css/programteam.css">
    <title>Program Team - SDF</title>
</head>

<body>

    <!-- Navbar is starting from here -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand text-success" href="../templates/index.html"><img
                        src="../images/logo_sdf-removebg-preview.png" alt="" width="160px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="main_nav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item active"> <a class="nav-link" href="../templates/index.html">Home </a> </li>


                        <li class="nav-item dropdown" id="myDropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">About Us</a>
                            <ul class="dropdown-menu">
                                <li> <a class="dropdown-item" href="../templates/Aboutus/OurPartners/about.html"> Who We
                                        Are </a></li>
                                <li><a href="../templates/Aboutus/WhatWeDo/intervention.html" class="dropdown-item">Our
                                        Intervention Strategy</a></li>
                                <li> <a class="dropdown-item" href="../templates/Aboutus/OurTeam/team.html"> Our Team
                                        &raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="../templates/Aboutus/OurTeam/advisory.html">Advisory
                                                Board</a></li>
                                        <li><a class="dropdown-item"
                                                href="../templates/Aboutus/OurTeam/programteam.html">Program
                                                Team</a></li>

                                        <li><a class="dropdown-item"
                                                href="../templates/Aboutus/OurTeam/boardm.html">Board Members</a>
                                        </li>

                                    </ul>
                                </li>

                                <li> <a class="dropdown-item" href="../templates/Aboutus/OurPartners/partners.html"> Our
                                        Partners
                                    </a>

                                </li>


                            </ul>
                        </li>

                        <li class="nav-item dropdown" id="myDropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Our Program</a>
                            <ul class="dropdown-menu">

                                <li> <a class="dropdown-item" href="../templates/programs/Health/health.html">Health
                                        &raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/Health/health.html">RCH</a></li>
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/Health/health.html">ARSH</a></li>
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/Health/health.html">MALERIA</a></li>
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/Health/health.html">Chronical Disease</a>
                                        </li>
                                    </ul>
                                </li>
                                <li> <a class="dropdown-item"
                                        href="../templates/programs/Livelihood/livelihood.html">Livelihood &raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/Livelihood/igp.html">IGP</a></li>
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/Livelihood/skill.html">Skill Training</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/Livelihood/medp.html">MEDP</a></li>
                                    </ul>
                                </li>
                                <li><a class="dropdown-item" href="../templates/programs/child.html">Child</a></li>
                                <li> <a class="dropdown-item"
                                        href="../templates/programs/education.html">Education&raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/education.html">Education for out of School
                                                Children</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/education.html">Educational Infrastructure
                                                Development</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/education.html">Financial Support for Higher
                                                Studies</a>
                                        </li>
                                    </ul>
                                </li>
                                <li> <a class="dropdown-item"
                                        href="../templates/programs/handicraft.html">Handicraft&raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/handicraft.html">Artirals Training</a></li>
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/handicraft.html">Exhibition</a></li>
                                        <li><a class="dropdown-item" href="../templates/programs/handicraft.html">Market
                                            </a></li>
                                    </ul>
                                </li>
                                <li> <a class="dropdown-item" href="../templates/programs/agriculture.html">Agriculture
                                        &raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/agriculture.html">FPO</a></li>
                                        <li><a class="dropdown-item" href="../templates/programs/agriculture.html">Seed
                                                Chunks</a></li>
                                        <li><a class="dropdown-item"
                                                href="../templates/programs/agriculture.html">Farmers Training</a></li>
                                        <li><a class="dropdown-item" href="../templates/programs/agriculture.html">New
                                                Technology</a></li>
                                    </ul>
                                </li>
                                <li> <a class="dropdown-item" href="../templates/programs/women.html">Woment Empowerment
                                        &raquo;
                                    </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item" href="../templates/programs/women.html">SHG</a>
                                        </li>
                                        <li><a class="dropdown-item" href="../templates/programs/women.html">Gender</a>
                                        </li>
                                    </ul>
                                </li>
                                <li> <a class="dropdown-item" href="../templates/programs/cbo.html">CBOs&raquo; </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item" href="../templates/programs/cbo.html">PRIS</a></li>
                                        <li><a class="dropdown-item" href="../templates/programs/cbo.html">FPO</a></li>
                                        <li><a class="dropdown-item" href="../templates/programs/cbo.html">SHG
                                                Federation </a></li>
                                    </ul>
                                </li>
                                <li><a class="dropdown-item" href="../templates/programs/digital.html"> Digital &
                                        Financial Literacy </a></li>
                                <li><a class="dropdown-item" href="../templates/programs/art.html"> Art & Culture </a>
                                </li>
                                <li><a href="../templates/programs/disaster.html" class="dropdown-item">Disaster
                                        Management</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown" id="myDropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Resources &
                                Publications</a>
                            <ul class="dropdown-menu">

                                <li> <a class="dropdown-item"
                                        href="../templates/Resources&Publications/Profile/profile.html"> Profile &raquo;
                                    </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="../templates/Resources&Publications/Profile/profile.html">Annual
                                                Report
                                            </a></li>
                                        <li><a class="dropdown-item"
                                                href="../templates/Resources&Publications/Profile/profile.html">Annual
                                                Audit
                                                Report</a></li>

                                        <li><a class="dropdown-item"
                                                href="../templates/Resources&Publications/Profile/profile.html">ITR</a>
                                        </li>

                                    </ul>
                                </li>

                                <li> <a class="dropdown-item"
                                        href="../templates/Resources&Publications/LegalDocuments/legal.html"> Legal
                                        Documents &raquo;
                                    </a>
                                    <ul class="submenu dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="../templates/Resources&Publications/LegalDocuments/legal.html">Trust
                                                Deed</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                                href="../templates/Resources&Publications/LegalDocuments/legal.html">PAN</a>
                                        </li>
                                        <li><a href="../templates/Resources&Publications/LegalDocuments/legal.html"
                                                class="dropdown-item">TAN</a></li>
                                        <li><a href="../templates/Resources&Publications/LegalDocuments/legal.html"
                                                class="dropdown-item">CSR</a></li>
                                        <li><a href="../templates/Resources&Publications/LegalDocuments/legal.html"
                                                class="dropdown-item">NGO</a></li>
                                        <li><a href="../templates/Resources&Publications/LegalDocuments/legal.html"
                                                class="dropdown-item">ISO</a></li>
                                        <li><a href="../templates/Resources&Publications/LegalDocuments/legal.html"
                                                class="dropdown-item">MSME</a></li>
                                        <li><a href="../templates/Resources&Publications/LegalDocuments/legal.html"
                                                class="dropdown-item">DC Handicraft</a></li>
                                        <li><a href="../templates/Resources&Publications/LegalDocuments/legal.html"
                                                class="dropdown-item">12AA</a></li>
                                        <li><a href="../templates/Resources&Publications/LegalDocuments/legal.html"
                                                class="dropdown-item">80G</a></li>
                                        <li><a href="../templates/Resources&Publications/LegalDocuments/legal.html"
                                                class="dropdown-item">Banking Details</a></li>

                                    </ul>
                                </li>



                            </ul>
                        </li>
                        <li class="nav-item active"> <a class="nav-link" href="../templates/media.html">Media</a> </li>
                        <li class="nav-item active"> <a class="nav-link" href="../templates/contact.html">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <!-- navbar-collapse.// -->
            </div>
            <!-- container-fluid.// -->
        </nav>

    </header>
    <!-- Navbar Ends -->


    <div class="container">

        <div class="card">
            <div class="image-card">
                <img src="../../../images/My project.png" alt="" width="262.4px" height="258.39px">
                <h3>Banaja Mishra</h3>
                <p>CEO</p>
            </div>
            <div class="content">
                <p>Ms. Banaja is MA in Sociology and MA in Classical Musing and the Executive Trustee/ Secretary of
                    SDF Trust and having 19 years working experience in NGO sector on issues like Health,
                    Livelihood, Education, Child Protection and Women Empowerment and also served in National level
                    NGO, Government Agency and International Organizations i.e CARA, CART, UN, Global Fund, WAFD.
                    Currently serving as Chief Executive Officer of SDF Trust and .</p>
            </div>
        </div>
        <div class="card">
            <div class="image-card">
                <img src="../../../images/My project (1).png" alt="" width="262.4px" height="258.39px">
                <h3>Hamid Malik</h3>
                <p>Project Director</p>
            </div>
            <div class=" content">
                <p>Mr. Hamid is MA in Sociology and having 12 years working
                    experience in NGO sector on issues like Health, Livelihood and Women Empowerment, Refugee and
                    also served in National and International Organizations i.e MATRIX, Global Fund and UNHCR.
                    Currently serving as Program Director of SDF Trust.</p>
            </div>
        </div>
        <div class="card">
            <div class="image-card">
                <img src="../../../images/My project (2).png" alt="" width="262.4px" height="258.39px">
                <h3>Ms. Smita</h3>
                <p>Executive Officer</p>
            </div>
            <div class="content">
                <p>Ms. Smita is MSW and is the Trustee of SDF Trust and having 8 years working experience in NGO
                    sector on issues like Women Empowerment, Gender violence and Panchayati Raj. Currently working
                    in a MP based NGO. </p>
            </div>
        </div>

        <div class="card">
            <div class="image-card">
                <img src="../../../images/Savy pic..png" alt="" width="262.4px" height="258.39px">
                <h3>Sarvjeet Singh</h3>
                <p>Consultant</p>
            </div>
            <div class="content">
                <p>Mr. Sarvjeet is associated with SDF as consultant, he worked for the CARA and various Govt.
                    department as consultant and having 12 years experties in development sector and advisor to many
                    indian NGOs. </p>
            </div>
        </div>


        <div class="card">
            <div class="image-card">
                <img src="../../../images/sheetal.jpg" alt="">
                <h3>Sheetal Saini</h3>
                <p>Project Manager</p>
            </div>
            <div class="content">
                <p>Sheetal currently working as Project Manager in SDF Trsut, she MA in Social Work and having 5 years
                    field level experience on various issues i.e Health, Education and Gender Violence, besides that she
                    has vast experience in Planning Monitoring Evaluation and Implementation.</p>
            </div>
        </div>
        <div class="card">
            <div class="image-card">
                <img src="../../../images/nidhi2 (2).jpg" alt="" width="262.4px" height="258.39px">
                <h3>Nidhi Kumari</h3>
                <p>Documentation Officer</p>
            </div>
            <div class="content">
                <p>Ms. Nidhi, is graduated in B.Sc Physics honours & she did many volunteer works for various hematic
                    issues i.e; Health, Education & Child Care, besides that Nidhi holds vast experience in developing
                    websites and evidence based documents.</p>
            </div>
        </div>
        <div class="card">
            <div class="image-card">
                <img src="../../../images/kajal.jpg" alt="" width="262.4px" height="258.39px">
                <h3>Kajal</h3>
                <p>Program Assistent</p>
            </div>
            <div class="content">
                <p>Kajal associated with SDF since last couple of months, she is very good in group councling as well as
                    individual councling and also holds good report at community level and currently working as program
                    Assistent in our SAMPARC Project.</p>
            </div>
        </div>




    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"
        integrity="sha512-6PM0qYu5KExuNcKt5bURAoT6KCThUmHRewN3zUFNaoI6Di7XJPTMoT6K0nsagZKk2OB4L7E3q1uQKHNHd4stIQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="../../../js/index.js"></script>
</body>

</html>